.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .modal-content {
    background-color: #2d2d37;
    padding: 40px;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 400px;
  }
  
  /* 로그인 입력 창 */
  .modal-input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  .modal-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
/* 공통 버튼 스타일 */
.modal-button {
  width: 100%;
  padding: 14px 20px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
}

/* 회원가입 버튼 */
.signup-button {
  background-color: black;
  color: white;
}

/* 로그인 버튼 */
.login-button {
  background-color: blue;
  color: white;
}

  
  
.modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
  